// Font
$font-family: 'Teapoz', sans-serif;

$fs-sm: 12px;
$fs-normal: 14px;

$fw-normal: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

// Palette
$black: #000;
$white: #fff;
$black-form: #333;
$color-primary: #8cbc4f;
$color-secondary: #648935;
$color-success: #194a33;
$color-danger: #e84040;
$color-pink: #e38b8b;
$color-green: #83d964;
$color-warning: #ffcc00;

$border-color: rgb(134, 147, 156);
$color-black-fill: #3a3f45;
$color-gray-400: #f6f6f6;
$color-gray-500: #86938d;
$color-gray: #a6afaa;
$color-light-gray: #e0e0e0;
// Box-shadow
$shadow-primary: 0px 2px 4px rgba(0, 0, 0, 0.1);
